.items {
  position: relative;
}
.item {
  display: none;
  margin: 5vh 0;
}
.item-img {
  flex: 1;
  max-width: 35vw;
}
.item-content {
  flex: 1;
  max-width: 40vw;
  margin: auto 0 auto -100px;
  background-color: aquamarine;
  padding: 3vh 5vw;
}
.item-title {
  text-align: center;
}
.active-item {
  display: flex;
  opacity: 1;
}
.prev-btn,
.next-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
}
.prev-btn {
  left: -60px;
}
.next-btn {
  right: 0px;
  left: auto;
}