.nav {
  height: 10vh;
  display: flex;
}
.nav__logo {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo--img{
  height: 8vh;
  width: auto;
}
.nav__menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 2vw 0 13vw;
}
.copyright{
	text-align: center;
}
.slider{
	position: relative;
}
.slider__text{
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #fff;
	width: 600px;
	padding: 20px;
}
.projects{
  width: 99vw;
  height: 100vh;
  position: relative;
}
.project{
  display: none;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.kme{
  background-image: url('../img/44330640_308022186689260_3408958986429399040_o.jpg');
  background-color: #a00;
}
.at{
  background-image: url('../img/44330640_308022186689260_3408958986429399040_o.jpg');
}
.cp{
  background-image: url('../img/44330640_308022186689260_3408958986429399040_o.jpg');
}
.ie{
  background-image: url('../img/44330640_308022186689260_3408958986429399040_o.jpg');
}
.project-content{
  position: absolute;
  top: 30vh;
  right: 10vw;
  left: 50vw;
}
.active{
  display: block;
}
.btn{
  width: 80px;
  height: 80px;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev{
  background-image: url('../img/prev.svg');
  left: 0;
}
.next{
  right: 0;
  left: auto;
  background-image: url('../img/next.svg');
}